---
pagination:
    data: p5
    size: 1
    alias: piece
    addAllPagesToCollections: true
layout: base.njk
tags: p5
permalink: "art/{{ piece.name | slug }}/"
eleventyComputed:
    title: "{{ piece.name }}"
---
{% if pagination.href.next %}
<a href={{pagination.href.next}}> next </a>
{% endif %}

<div>
    {{ piece.name }} is {{ piece.age }} years old
</div>

{% if pagination.href.previous %}
<a href={{pagination.href.previous}}> prev </a>
{% endif %}
