<link rel="stylesheet" href="{{ '/css/art_grid.css' | url }}"/>
<div class="grid">
{% for piece in collections.p5 %}
<div class="preview">
    <a href="{{piece.url}}"> 
        <img src="{{piece.data.preview}}" alt="{{piece.data.title}}" width="200" height="200"/>
    </a>
</div>
{% endfor %}
</div>
