<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="it's the place with the things">
<meta name="description" content="im kevin. i make some stuff.">