<header class="header"> 
    <nav class="nav">
        {% if page.url == "/"  %}
            <a href="/" class="active">[HOME]</a>
        {% else %}
            <a href="/">[HOME]</a>
        {% endif %}
        

        {% if "/art" in page.url  %}
            <a href="/art/" class="active">[ART]</a>
        {% else %}
            <a href="/art/">[ART]</a>
        {% endif %}

        {% if "/music" in page.url  %}
            <a href="/music/" class="active">[MUSIC]</a>
        {% else %}
            <a href="/music/">[MUSIC]</a>
        {% endif %}
        
        {% if "/tech" in page.url  %}
            <a href="/tech/" class="active">[TECH]</a>
        {% else %}
            <a href="/tech/">[TECH]</a>
        {% endif %}

        {% if "/about" in page.url  %}
            <a href="/about/" class="active">[ABOUT]</a>
        {% else %}
            <a href="/about/">[ABOUT]</a>
        {% endif %}
    </nav>
</header>