<a class="card" href=
    {# // yes, this is kind of a hack #}
    {% if post.data.title == "Generative Art" %}
        "https://gallery.kxvin.com"
        {% else %}
        {{post.url}}
    {% endif %}
>
    <div class="card-img">
        <img src="{{post.data.image}}"/>
    </div>
    <div class="card-body">
        <div class="card-date">
            {{post.date | postDate}}
        </div>
        <div class="card-title">
            {{post.data.title}}
        </div>
        <div class="card-blurb">
            {{post.data.blurb}}
        </div>
    </div>
</a>