<a class="card" href={{post.url}}>
    <div class="card-img">
        <img src="{{post.data.image}}"/>
    </div>
    <div class="card-body">
        <div class="card-title">
            {{post.data.title}}
        </div>
        <div class="card-date"> {{post.date | postDate}} </div> 
        <div class="card-blurb">
            {{post.data.blurb}}
        </div>
    </div>
</a>