<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_meta_tags.njk" %}
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        {# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> #}
        {# <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
        WebFont.load({
            google: {
                families: ['JetBrains Mono']
            }
        });
        </script> #}
        {% block styles %}<link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>{% endblock %}
    </head>
    {% include "_nav.njk" %}
    <body>
        <main class="main {% block mainclasses%}{% endblock %}">
            {% block content%}
                {{ content | safe }}
            {% endblock %}
        </main>
    </body>
</html>