<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_meta_tags.njk" %}
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        {% block styles %}<link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>{% endblock %}
    </head>
    {% include "_nav.njk" %}
    <body>
        <main class="main {% block mainclasses%}{% endblock %}">
            {% block content%}
                {{ content | safe }}
            {% endblock %}
        </main>
    </body>
</html>