<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>
    </head>
    <div class="background"/></div>
    <body>
        <main class="main">
            {{ content | safe }}
        </main>
    </body>
</html>