{% extends "base.njk" %}

{% block styles %}
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}"/>
{% endblock %}

{% block content %}
<div class="post">
    <div>{{ page.date | postDate}}</div>
    {{ content | safe }}
</div>
{% endblock %}

