.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.75);


    gap: 1rem;
}

.preview {
    width: 200px;
    height: 200px;
}

img {
    object-fit: cover;
}
