@import "main.scss";

.landing {
    text-align: center;
    justify-content: center;
}  

.title {
    margin: 0rem 0 1rem 0;
    animation: move-around 2s infinite alternate ease-in-out;
}

.color-text {
    animation: shadow-color 2s infinite ease;
    color: #0ff;
}

@keyframes shadow-color {
    0% {
        filter: drop-shadow(1px 1px #0ff) drop-shadow(2px 2px #0ff) drop-shadow(3px 3px 1px #0ff);
    }
    50% {
        filter: drop-shadow(1px 1px #f0f) drop-shadow(2px 2px #f0f) drop-shadow(3px 3px 1px #f0f);
    }
    100% {
        filter: drop-shadow(1px 1px #0ff) drop-shadow(2px 2px #0ff) drop-shadow(3px 3px 1px #0ff);
    }
}

@keyframes move-around {
    0% {
        rotate: 3deg;
        scale: 95%;
    }
    50% {
        scale: 100%;
    }
    100% {
        rotate: -3deg;
        scale: 95%;
    }
}