$background: #0e0e12;
$background-2: #171a25;
$background-light: #494949;
$nav-background: transparentize($background-2, 0.1);
// $card-background: transparentize(invert($background), 0.8);
$card-background: $nav-background;
$text: #f0f0f0;
$text-hover: transparentize(#f0f0f0, 0.5);
$blue: #0ff;
$pink: #f0f;

html {
    scroll-behavior: smooth;
    font-family: "Consolas", monospace;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.25px;
    overflow-y: scroll;

}

h1,h2,h3,h4,p {
    margin: 0.5rem 0 0.5rem 0;
}

.background {
    background-image: url(../img/nightsky2.png);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    background-color: $background;
    color: $text;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: $text;
    // transition: all 0.2s ease;
    font-weight: bold;
}

hr {
    width: 100%;
    border-bottom: 1px solid $text;
}
a:hover {
    @extend .active;
}

// scrollbar stuff
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(145, 145, 145, 0.432) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}
*::-webkit-scrollbar-thumb {
    background: rgba(145, 145, 145, 0.432);
    border-radius: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem 0;
}

// header stuff
.header {
    position: sticky;
    top: 0;
    display: grid;
    place-content: center;
    z-index: 5;
}

.nav {
    background: $nav-background;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    gap: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem 0 1rem 0;
    min-width: 301px;
}

.active {
    color: $background;
    background-color: $blue;
    box-shadow: 3px 3px $pink;
}

// footer
footer {
    margin: 2rem 0;
}
.social-icons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}