:root {
    --background: #171a25;
    --nav-background: #{transparentize(#171a25, 0.2)};
    --card-background: #{transparentize(invert(#171a25), 0.8)};
    --text: #F3F5F5;
    --text-hover: #{transparentize(#f3f5f5, 0.5)};
    --blue: #0ff;
    --pink: #f0f;
}

html {
    font-family: "Consolas", monospace;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.25px;
    overflow-y: scroll;
}

h1,h2,h3,h4,p {
    margin: 0.5rem 0 0.5rem 0;
}

body {
    color: var(--text);
    background-color: var(--background);

    min-height: 100vh;
    width: 75vw;
    margin: 0 auto;
}

main {
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text);
    // transition: all 0.2s ease;
    font-weight: bold;
}

hr {
    width: 100%;
    border-bottom: 1px solid var(--text);
}
a:hover {
    @extend .active;
}

// scrollbar stuff
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(145, 145, 145, 0.432) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}
*::-webkit-scrollbar-thumb {
    background: rgba(145, 145, 145, 0.432);
    border-radius: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem 0;
}

// header stuff
.header {
    position: sticky;
    top: 0;
    display: grid;
    place-content: center;
    z-index: 5;
}

.nav {
    background: var(--nav-background);
    display: flex;
    flex-direction: row;

    justify-content: center;

    gap: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
}

.active {
    color: var(--background);
    background-color: var(--blue);
    // outline: 3px solid var(--blue);
    box-shadow: 3px 3px var(--pink);
}