.post {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 1.5rem;
    min-width: 300px;
    width: 60%;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    h1,h2,h3,h4 {
        width: 100%;
        margin: 0.5rem;
    }

    ul {
        padding: 0;
    }

    color: white;
    background-color: rgba(59, 59, 59, 0.75);
}

iframe {
    max-width: 560px;
    width: 100%;
}