---
pagination:
    data: gen
    size: 1
    alias: piece
    addAllPagesToCollections: true
layout: art_page.njk
tags: p5
permalink: "art/{{ piece.title | slug }}/"
eleventyComputed:
    title: "{{ piece.title }}"
    preview: "{{ piece.preview }}"
---
<a href="/art/generative"> back to post</a>
<div>
    {% if pagination.href.previous %}
    <a href={{pagination.href.previous}}> <<< prev | </a>
    {% endif %}
    {% if pagination.href.next %}
    <a href={{pagination.href.next}}> next >>> </a>
    {% endif %}
</div>
<br/>
{% if piece.embed %}
<iframe class="art-display" src="{{piece.embed}}"> </iframe>
{% else %}
<img class="art-display" src="{{piece.preview}}" />
{% endif %}
<br/>
<a href="{{piece.source}}"> source code </a>






