---
layout: base.njk
title: the place
---

<h1>it's the place with the things</h1>
<p>im kevin. i make some stuff.</p>
<a href="/art">
    <h1>[ART]</h1>
</a>
<a href="/music">
    <h1>[MUSIC]</h1>
</a>
<a href="/tech">
    <h1>[TECH]</h1>
</a>
<a href="/other">
    <h1>[OTHER]</h1>
</a>