---
layout: posts.njk
title: music
---
<div class="posts pinned">
{% for post in collections.music | reverse %}
    {% if post.data.pinned == true %}
        {% include "_postcard.njk"%}
    {% endif%}
{% endfor %}
</div>

<div class="posts">
{% for post in collections.music | reverse %}
    {% if post.data.pinned != true %}
        {% include "_postcard.njk"%}
    {% endif%}
{% endfor %}
</div>