---
layout: posts.njk
title: tech
---
<div class="posts">
{% for post in collections.tech | reverse %}
    {% include "_postcard.njk"%}
{% endfor %}
</div>
{# (posts coming soon)
<a href="https://github.com/k-xvin" target="_blank">github</a> #}
